@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; // استخدام Layout الإدارة
}

<h1>Add Product</h1>

<form asp-action="AddProduct" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="productCategory">Select Product Category</label>
        <select class="form-control" id="productCategory" name="category">
            <option value="Mobiles">Mobiles</option>
            <option value="Laptops">Laptops</option>
            <option value="Accessories">Accessories</option>
            <option value="Watches">Watches</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Next</button>
</form>
